<my-nav></my-nav>
<div [ngClass]="{'grid-mobile-container': isMobileDashboard(), 'grid-web-container': !isMobileDashboard()}">
  <h1 class="mat-h1">
    <div *ngIf="cards.length">Your Flagged Books</div>
    <div *ngIf="!cards.length">The list is empty</div>
  </h1>
  <mat-grid-list cols="2" rowHeight="350px">
    <!--Cards represent the categories || That is paginated also-->
    <mat-grid-tile *ngFor="let card of cards | paginate: {
                                                            id: 'outer-cards',
                                                            itemsPerPage: 4,
                                                            currentPage: x,
                                                            totalItems: cards.length }" [colspan]="card.cols" [rowspan]="card.rows">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            {{card.title}}
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <!--For Books in card.books display books || Requires pagination for each card-->
          <mat-card class="example-card" *ngFor="let book of card.books | paginate: {
                                                                                      id: card.title, 
                                                                                      itemsPerPage: 4,
                                                                                      currentPage: p[card.title]}">
            <mat-card-header>
              <mat-card-title>{{book.title}}</mat-card-title>
              <mat-card-subtitle>{{book.author}}</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-sm-image src="{{book.image}}" alt="Photo of a Shiba Inu" style="height: auto;">
            <mat-card-actions>
              <button mat-button (click)="borrowBook(book)">BORROW</button>
              <button mat-button (click)="unFlagBook(book)">UNFLAG</button>
            </mat-card-actions>
          </mat-card>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>