<!-- Main Toolbar of an App -->  
<mat-toolbar color="primary">  
  <span>UCSC E Libray System</span>  
  <span class="demo-toolbar"></span>  
  <button mat-button routerLink="/">Home</button>  

</mat-toolbar>  

<!-- Card container that binds all togather -->  
<mat-card>  
  <!-- Title of an Card -->  
  <mat-card-title>  
      Register as a user  
  </mat-card-title>  

  <!-- Actual content starts from here -->  
  <mat-card-content>  
      <form [formGroup]="regiForm" (ngSubmit)="onFormSubmit(regiForm.value)">  
          <table>  
              <tr>  
                  <td>  
                      <mat-form-field class="demo-full-width">  
                          <input formControlName="name" matInput placeholder="Name" [(ngModel)]="name">  
                      </mat-form-field>  
                      <mat-error>  
                          <span *ngIf="!regiForm.get('name').valid && regiForm.get('name').touched">Please enter First Name !!!</span>  
                      </mat-error>  
                  </td>  
                  <td>  
                      <mat-form-field class="demo-full-width">  
                          <input formControlName="username" matInput placeholder="Username" name="username" [(ngModel)]="username">  
                      </mat-form-field>  
                      <mat-error>  
                          <span *ngIf="!regiForm.get('username').valid && regiForm.get('username').touched">Please enter username!!!</span>  
                      </mat-error>  
                  </td>  
              </tr>                  
                            
              <tr>  
                  <td colspan="2">  
                      <mat-form-field class="demo-full-width">  
                          <input formControlName="email" matInput placeholder="Email" [(ngModel)]="email">  
                          <mat-hint>use like : demo@demo.com</mat-hint>  
                          <mat-error>  
                              <span *ngIf="!regiForm.get('email').valid && regiForm.get('email').touched">Enter proper Email !!!</span>  
                          </mat-error>  
                      </mat-form-field>  
                  </td>  
              </tr>
              <tr>
                <td colspan="1">
                  <mat-form-field>
                    <input formControlName="password" matInput placeholder="password" type="password" [(ngModel)]="password">                    
                  </mat-form-field>
                  <mat-error>  
                    <span *ngIf="!regiForm.get('password').valid && regiForm.get('password').touched">Please enter a password</span>  
                </mat-error> 
                </td>
              </tr>  
              <tr>  
                  <td colspan="2">  
                      <mat-slide-toggle formControlName="IsAccepted" (change)="onChange($event)">Accept Terms & Conditions</mat-slide-toggle>  
                  </td>  
              </tr>  
              <tr>  
                  <td colspan="2" class="content-center">  
                      <button mat-raised-button color="primary" [disabled]="!regiForm.valid || IsAccepted==0">Submit</button>  
                  </td>  
              </tr>  
              <tr>  
                  <td></td>  
              </tr>  
          </table>  
      </form>  
  </mat-card-content>  
</mat-card>  